body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    color: rgb(97, 33, 33);
}
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
header a {
    float: right;
    color: rgb(100, 99, 99);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}
.receita {
    margin-bottom: 2rem;
}